.cardsstyle{
    margin-top: 30px;
    height: 210px;
    width: 361px;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #0670BD;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #A6ABBD;
  border-radius: 40px;
  font-family: 'Red Hat Display', sans-serif;
}

img{
    width: 75px !important;
    height: 75px;
    margin: auto;
    margin-top: 20px;
}

.cardtitle{
    text-align: center;
    color: #0E5FB7;
}

.cardlinktext{
    margin-top: 20px;
}

.cardlink{
    color: #A50DBE;
    text-decoration: none;
font-weight: 500;
}