.chead{
    color: #0E5FB7;
    margin: auto;
    display: inline;
}

.backbutton{
    width: 125px !important;
    margin:0px;
    height: 50px;
    display: inline;

}

.csubtopics{
    color: #0E5FB7;
}

.cimg{
    width: 20px;
    height: 60px;
    margin-top: 0px;
    margin-left: 20px;
}

.ptext{
    display: inline;
    margin-left: 20px;
}

