
   .join{
    color: white;
text-decoration: none;
}

.join:hover{
    color: white;
}
  
  .nav{
     
    font-weight: bold;
    background: #0060CA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    font-family: 'Red Hat Display', sans-serif;
    
  }

  .link{
      margin-left: 15px;
     
    }
  
    .img1{

      width: 650px;
      height: 530px;
      margin-top: 70px;
      
      }

      .title{
          padding-top: 250px;
         margin-left: 60px;
         width: 400px;
         font-weight: bold;
         font-family: 'Red Hat Display', sans-serif;
        }
        
        .btn1{
          
        width: 120px;
        height: 40px;
        margin-left: 60px;
        margin-top: 50px;
          background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #2363C3;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.16);
        box-sizing: border-box;
        box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #A6ABBD;
        
        font-family: 'Red Hat Display', sans-serif;
        
        }
        
        .btn2{
          
          width: 120px;
          height: 40px;
          margin-left: 40px;
        margin-top: 50px;
        
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #0670BD;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.16);
        box-sizing: border-box;
        box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #A6ABBD;
        
        font-family: 'Red Hat Display', sans-serif;
        }

        .card{
          margin-top: 130px;
          margin-left: 150px;
         width: 229px;
         height: 370px;
         border: 1px solid rgba(255, 255, 255, 0.4);
         box-sizing: border-box;
         border-radius: 40px;
         
        }     
       
        .card1,.card2{
          text-align: center;
          color:  #0060CA;
          font-size: 30px;
          font-weight: bold;
          text-transform: capitalize;
       text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
       
        .cardtxt1{
          padding-top: 15px;
          color: #0060CA;
          padding-left: 20px;
        }
       
        .cardtxt2{
         padding-top: 35px;
         color: #0060CA;
         padding-left: 25px;
         width: 310px;
         line-height: 30px;
        }
       
        
       
       
       .myapproach{
         width: 600px;
       height: 600px;
       left: 651px;
       top: 348px;
       }
       
       
        .myvision{
         width: 1000px;
         height: 450px;
       margin-top:80px ;
       padding-right: 300px;
         
        }
       
        .about{
          margin-top: 80px;
          text-align: center;
          font-weight: bold;
          color: white;
          
        }
       
        .abtcontent{
          padding-top: 50px; ;
          text-align: justify;
          width: 1000px;
          margin-left: 225px;
          color: white;
          line-height: 25px;
          
          
       
        }
       
        .carousel{
          margin-top: 100px;
          margin-bottom: 100px;
          height: 600px;
          background-color: #3a67bd;
        }
        

        .coach{
          margin-top: 40px;
          text-align: center;
          font-weight: bold;
          color: #0E5FB7;
        }

       .methodology{
         margin-left: 30px;
         margin-bottom: 50px;
        text-align:justify;
        width: 330px;
        height: 432px;
        color: white;
       background: #0060CA !important;
        background-blend-mode: soft-light, normal;
        border: 3px solid rgba(255, 255, 255, 0.16);
        box-sizing: border-box;
        box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #A6ABBD;
        
       }

      
       

       .online {
         margin-top: 30px;
        margin-left:130px;
        margin-bottom: 20px;
         width: 70px;
         height: 70px;
       }

       .coach1{
         text-align: center;
        font-weight: bold;
        font-size: 26px;
        line-height: 48px;
        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       }