.members{
    text-align: center;
    padding-top :50px;
  
}



.membercard{
    margin-top: 50px;
    width: 18rem;
    margin-left: 70px;
    margin-bottom: 50px;
}


.avatar{
    
    
    width: 100px;
    margin-left: 100px;
    margin-top: 15px;


}


.avatar-boy{
    
    width: 95px !important;
    margin-left: 95px;

}


.member-button{
    margin-left: 60px;
    margin-top: 30px;
}

.card-title , .card-text {
    color: black;
}